@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #08181A;
}
span {
    display: block;

}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}
h1 {
    font-size: 45px;
    color: #fff; 
    font-family: 'DM Sans', sans-serif;
    padding-left: 1rem;
}
p{
    color: #fff;
    font-size:30px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 1rem;
}
.column1 {
    width: 50%;
    justify-content: center;
    padding-top: 13rem;
    background: url('/src/img/NTYABA012.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    text-align: center;
    
}

.column-content {
    display: inline-block;
    text-align: left;
}
img {
    margin-bottom: 1.5rem;
    height: 10rem;
    width: 10rem;
}
.column2 {
    width: 50%;
    padding-top: 4rem;
    height: auto;
    text-align: center;
}
.column2 p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-top: 3rem;
}
form input {
    background-color: #CFE8EA;
    width: 80%;
    height: 45px;
    margin-bottom: 1rem;
    border-radius: 20px;
    color: #000;
    outline: none;
    border-style: hidden;
    padding-left: 20px;
    font-size: 16px;
    color: #08181A;
}
button {
    width: 80%;
    margin-top: 1rem;
    background-color: #EC4D0F;
    font-family: 'Roboto', sans-serif;
    height: 45px;
    border-radius: 20px;
    color: #fff;
    font-size:25px;
    font-weight: 500;
    border-style: hidden;
    cursor: pointer;
    transition: box-shadow .3s;
}
button:hover {
    box-shadow: 0 0 20px rgba(33,33,33,.2); 
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .column1 {
    padding-top: 30rem;
    width: 100%;
    height: auto;
}
.column2 {
    width: 100%;

}
h1 {
    text-align: center;
    
}
p {
    text-align: center;
}
}
@media only screen and (max-width: 330px) {
.column1 {
    padding-top: 45rem;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
}